.div{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}
.input{
    background-color: grey;
    border-radius: 10px;
    font-size: 30px;
    height: 50px;
    width: 50px;
    display:inline-flex;
    flex-wrap:wrap;
    margin: 20px;
    color-scheme:inherit
}