.div{
    display: flex;
    align-items:center;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;  /* 70% of the viewport width */
    max-width: 100%;  /* Ensures the modal does not exceed the viewport width */
    max-height: 100%; /* Ensures the modal does not exceed the viewport height */
    padding: 20px;
    background-color: rgb(255, 255, 0);
    border-radius: 15px;
}

.modal-content {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.button{
    width: 50%;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
}

.button:hover{
    cursor: pointer;
}

/*.previous-guess{
    position:absolute;
    top:10px;
    left: 10px;
    text-align: center;
}*/
